<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T4J-BOOT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<link th:href="@{/css/common.css}" rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div class="container">
	
		<h1 th:text="'■T4J-BOOT get-media-tweet■'"></h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/nyappi/view/}" >top</a></li>
				<li class="breadcrumb-item active" aria-current="page">get media-tweet</li>
			</ol>
		</nav>
		
		<form action="/nyappi/view/images/tweet/id">
		
			<div class="mt-2">
				<div class="input-group mb-1">
					<div class="input-group-prepend">
						<span class="input-group-text" >id</span>
					</div>
					<input type="text" name="id" 
							class="form-control" >
				</div>
				<button type="submit"
						class="btn btn-primary" >メディアURL取得</button>
			</div>
			
			<div class="mt-2">
				<div class="input-group mb-1">
					<textarea id="metadata"
							rows="5" 
							class="form-control text-monospace"
							th:text="${detail}" readonly="readonly" ></textarea>
					<div class="input-group-append">
						<button type="button" onclick="copy($('#metadata'));" >copy
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
								<path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
			
		</form>

	</div>
</body>
</html>