<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T4J-BOOT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<link th:href="@{/css/common.css}" rel="stylesheet"></link>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<a href="#" th:href="@{/t4j-boot/view/}" th:text="'>> top'"></a>

	<h1 th:text="'■T4J-BOOT■'"></h1>

	<form action="/t4j-boot/view/images/tweet/id">
		<input type="text" name="id"></input>
		<button type="submit">メディアURL取得</button>
	</form>
	<div class="border">
		<textarea rows="5" th:text="${detail}" readonly="readonly" id="metadata">
			test
		</textarea>
		<button type="button" onclick="copy('metadata');">copy</button>
	</div>

</body>
</html>