<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T4J-BOOT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<link th:href="@{/css/common.css}" rel="stylesheet"></link>
	<script th:src="@{/js/common.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
	
		<h1 th:text="'■T4J-BOOT get-media-tweet■'"></h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/t4j-boot/view/}" >top</a></li>
				<li class="breadcrumb-item active" aria-current="page">get media-tweet</li>
			</ol>
		</nav>
		
		<form action="/t4j-boot/view/images/tweet/id">
			<div>
				<input type="text" name="id"></input>
				<button type="submit"
						class="btn btn-primary" >メディアURL取得</button>
			</div>
			<div>
				<textarea id="metadata"
						rows="5" 
						th:text="${detail}" readonly="readonly" ></textarea>
				<button type="button"
						class="btn btn-secondary" 
						onclick="copy('metadata');" >copy</button>
			</div>
		</form>

	</div>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>