<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T4J-BOOT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<link th:href="@{/css/common.css}" rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div class="container">
		<h1 th:text="'■T4J-BOOT main-menu■'"></h1>
		
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">top</li>
			</ol>
		</nav>

		<div class="mt-2">
			<span class="badge badge-primary">Primary</span>
			<span class="badge badge-secondary">Secondary</span>
			<span class="badge badge-success">Success</span>
			<span class="badge badge-danger">Danger</span>
			<span class="badge badge-warning">Warning</span>
			<span class="badge badge-info">Info</span>
			<span class="badge badge-light">Light</span>
			<span class="badge badge-dark">Dark</span>
		</div>
		
		<div class="mt-2">
			<a href="#" th:href="@{/nyappi/view/images/tweet/id}" 
						th:text="'TweetID を指定して メディア情報を取得'"
						class="btn btn-outline-primary btn-block" ></a>
						
			<a href="#" th:href="@{/nyappi/view/images/tweet/url}" 
						th:text="'TweetURL を指定(複数可)して メディア情報を取得'"
						class="btn btn-outline-primary btn-block" ></a>
			
			<a href="#" th:href="@{/nyappi/view/tag-tweet}"
						th:text="'タグツイートを連投するのだ'"
						class="btn btn-outline-primary btn-block" ></a>
						
			<a href="#" th:href="@{/nyappi/view/pad}"
						th:text="'PAD TOOL'"
						class="btn btn-outline-success btn-block" ></a>
						
			<a href="#" th:href="@{/nyappi/view/api-call}"
						th:text="'API CALL'"
						class="btn btn-outline-info btn-block" ></a>
		</div>
		
	</div>
</body>
</html>