<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T4J-BOOT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<link th:href="@{/css/common.css}" rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div class="container">
	
		<h1 th:text="'■T4J-BOOT ぱずどらつーる■'"></h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/nyappi/view/}" >top</a></li>
				<li class="breadcrumb-item active" aria-current="page">pad tool</li>
			</ol>
		</nav>
		
		<form>

			<div class="row">
				<div class="input-group mb-1">
					<div class="input-group-prepend">
						<span class="input-group-text" >最終ドロップ</span>
					</div>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-lg btn-secondary"> <input type="radio" name="drop" value="h" th:checked="${drop[0]}"> 回復<img th:src="@{/img/h.png}"> </label>
						<label class="btn btn-lg btn-secondary"> <input type="radio" name="drop" value="r" th:checked="${drop[1]}"> 火  <img th:src="@{/img/r.png}"> </label>
						<label class="btn btn-lg btn-secondary"> <input type="radio" name="drop" value="b" th:checked="${drop[2]}"> 水  <img th:src="@{/img/b.png}"> </label>
						<label class="btn btn-lg btn-secondary"> <input type="radio" name="drop" value="g" th:checked="${drop[3]}"> 木  <img th:src="@{/img/g.png}"> </label>
						<label class="btn btn-lg btn-secondary"> <input type="radio" name="drop" value="y" th:checked="${drop[4]}"> 光  <img th:src="@{/img/y.png}"> </label>
						<label class="btn btn-lg btn-secondary"> <input type="radio" name="drop" value="p" th:checked="${drop[5]}"> 闇  <img th:src="@{/img/p.png}"> </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-group mb-1 w-25">
					<div class="input-group-prepend">
						<span class="input-group-text" >パズル操作時間</span>
					</div>
					<input type="number" 
							min="0.1" max="60" step="0.1"
							name="puzzle_time" 
							th:value="${time}"
							class="form-control" >
					<div class="input-group-append">
						<span class="input-group-text">秒</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-group mb-1 w-25">
					<div class="input-group-prepend">
						<span class="input-group-text" >ルーレット変化</span>
					</div>
					<input type="number" 
							min="0.1" max="10" step="0.1"
							name="roulette_span"  
							th:value="${span}"
							class="form-control" >
					<div class="input-group-append">
						<span class="input-group-text">秒</span>
					</div>
				</div>
			</div>
			
			<div class="row mt-2">
				<button type="submit"
						id="tweet"
						class="w-25 text-left btn btn-primary"
						accesskey="t"
						formaction="/nyappi/view/pad/roulette" 
						formmethod="POST" >計算</button>
			</div>
		</form>

	</div>

</body>
</html>