<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T4J-BOOT</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<link th:href="@{/css/common.css}" rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div class="container">
	
		<h1 th:text="'■T4J-BOOT tag-tweet■'"></h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/nyappi/view/}" >top</a></li>
				<li class="breadcrumb-item active" aria-current="page">tag-tweet</li>
			</ol>
		</nav>
			
		<form>
		
			<div class="mt-4">
				<h2 th:text="'タグとぅいーと。'"></h2>
				
				<div class="input-group mb-1">
					<div class="input-group-prepend">
						<span style="width: 120px" 
								class="input-group-text" >タグ</span>
					</div>
					<input type="text" name="tags" 
							class="form-control"
							placeholder="タグ１, タグ２, #tag3 #tag4 ..."
							th:value="${tags}" >
				</div>
				
				<div class="input-group mb-1">
					<div class="input-group-prepend">
						<span style="width: 120px" 
								class="input-group-text">ツイート</span>
					</div>
					<textarea name="content" 
							rows="6"
							class="form-control" 
							onkeydown="return altenter(event, $(this), $('button#tweet'));"
							th:text="${content}" autofocus></textarea>
				</div>
				
				<div class="mt-2">
					<button type="submit" 
							id="preview"
							class="w-50 text-left btn btn-info"
							accesskey="p"
							formaction="/nyappi/view/tag-tweet/preview"
							formmethod="POST" ><b>[P]</b> ぷれびゅー</button>
				</div>
				<div class="mt-2">
					<button type="submit"
							id="tweet"
							class="w-50 text-left btn btn-primary"
							accesskey="t"
							formaction="/nyappi/view/tag-tweet/tweet" 
							formmethod="POST" ><b>[T] [Enter]</b> トゥイート！</button>
				</div>
			</div>
			
			<div class="mt-4">
				<h2 th:text="'とぅいーと結果。'"></h2>
				<textarea rows="9" 
						class="bg-dark text-info"
						th:text="${result}" readonly="readonly" ></textarea>
			</div>
		</form>
		
	</div>
</body>
</html>